{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead bg-light">
    <div class="container">
        <div class="row g-0">
            <!-- Text Section -->
            <div class="col-md-6 d-flex flex-column justify-content-center p-3">
                <h1 class="post-title mb-3">{{ post.title }}</h1>
                <p class="post-subtitle text-muted mb-0">
                    <span class="author">{{ post.author }}</span> |
                    <span class="date">{{ post.created_on|date:"F j, Y" }}</span>
                </p>
            </div>
            <!-- Image Section -->
            <div class="col-md-6 d-none d-md-block">
                <img src="{% static 'images/default.webp' %}" class="img-fluid rounded" alt="Default Image">
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <!-- The post content goes inside the card-text. -->
                    <!-- Use the | safe filter inside the template tags -->
                    <p class="card-text">
                        {{ post.content | safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}