{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 account-center">            
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <h4>Sign Up Here</h4>
                        <hr>
                        <form method="POST">
                            {% csrf_token %}
                            
                            <input class="btn btn-primary btn-block" type="submit" value="Sign Up">
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
