
.bg-custom {
    background-color: #d8eee0;
}
.title-color {
    color: rgb(2, 41, 2);
}

.author-custom {
    color:rgb(22, 63, 49);
    background-color: rgb(230, 248, 248);
}

#main-text {
    text-align: center;       
    width: 30%;  
    font-family: 'Lora', sans-serif;         
    padding: 1rem 0;         
    margin: 0 auto;           
    background-color: #011a11; 
    border: 1px solid #ddd;    
    border-radius: 8px;       
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    color: #e5f3f1;   
    margin-top: 1rem;
    margin-bottom:1rem;      
}